@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 cursor: pointer;
  margin: 0;
  padding: 20px;
  color: white;
}
#instructions {
  display: none;
}
#results, 
body:hover #instructions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.75);
}
#results {
  display: none;
  cursor: default;
}
#results .content,
#instructions .content {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}